<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clipvidva"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.clipvidva.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.clipvidva.CategoryListActivity"
            android:label="Categories"
            android:parentActivityName=".Splash" >
        </activity>
        <!--
        <activity
            android:name=".CategoryListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.example.clipvidva.SubjectListActivity"
            android:label="Subjects"
            android:parentActivityName=".CategoryListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoryListActivity" />
        </activity>
        <activity
            android:name="com.example.clipvidva.VideoListActivity"
            android:label="Videos" >
        </activity>
        <activity
            android:name="com.example.clipvidva.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>

        <!-- QUIZZES -->
        <activity
            android:name="com.example.clipvidva.quizzes.QuizCategoryListActivity"
            android:label="@string/title_quiz"
            android:parentActivityName=".Splash" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Splash" />
        </activity>
        <activity
            android:name="com.example.clipvidva.quizzes.QuizSubjectListActivity"
            android:label="Quiz Subjects"
            android:parentActivityName=".Splash" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Splash" />
            
        </activity>
        <activity
            android:name="com.example.clipvidva.quizzes.QuizQuestionListActivity"
            android:label="Question List" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.clipvidva.quizzes.QuizSubjectListActivity" />
        </activity>
        <activity
            android:name="com.example.clipvidva.quizzes.QuizItemDetailActivity"
            android:label="Question"
            android:parentActivityName="com.example.clipvidva.quizzes.QuizQuestionListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.clipvidva.quizzes.QuizQuestionListActivity" />
        </activity>
        <activity
            android:name="com.example.clipvidva.VideoViewer"
            android:label="@string/title_activity_video_viewer"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.clipvidva.VideoFullViewer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video_full_viewer"
            android:theme="@style/FullscreenTheme" >
        </activity>
        
        <!-- PAINT -->
        <activity
           android:name="com.example.clipvidva.paint.PaintActivity"
           android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
